# Editor files directory
.DS_Store
.idea
.vscode

# Dependency directory
node_modules

# Test coverage results
coverage

# Build directory
build
dist

# Any log files
*.log
*.txt

#local configs
config.local*
config.*.json

*.tsbuildinfo
